*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

:root{
    --lightpink: rgb(255, 210, 229);
    --brown: rgb(97, 55, 31);
}

body{
    background-image: url(./pink.avif);
}

/* The content below is the Header/nav */
.container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: var(--lightpink);
    margin-bottom: 100px;
    padding: 20px;
    color: var(--brown);
    border-bottom: 5px solid black;
    font-size: 24px;
}

h1{
    font-size: 50px;
}
nav ul{
    display: flex;
    list-style: none;
    
}

.navlink, .navlink:hover, .navlink:visited, .navlink:active{
    text-decoration: none;
    color: inherit;

}


nav ul li{
    margin-right: 20px;
    text-decoration: underline;
}

nav ul li:hover{
    color: white;
}
/* Below will be the about me section */
.aboutmeheader, .contactheader{
    display: flex;
    align-items: center;
    font-size: 80px;
    padding: 133px;
    border-right: 5px solid black;
}

.about-me{
    
    background-color: var(--lightpink);
    padding: 20px;
    display: flex;
    justify-content:space-between;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    color: var(--brown);
    position: relative;
    align-items: center;
}

.aboutmecontent{
   
    padding: 50px;
    flex-wrap: wrap;
    font-size: 30px;
}


/* Below will be MyWork */
.mainimg{
    display: flex;
    max-width: 80%;
    border: 5px solid var(--brown);
    border-radius: 20px;
    justify-content: center;
    position: relative;
}

.centerplz{
    display: flex;
    justify-content: center;
}

.smallimg{
    display: flex;
    max-height: 150px;
    min-width: 490px;
    border: 5px solid var(--brown);
    border-radius: 20px;
    margin: 10%;
}

.smallimgcontent{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-right: 8%;
}
.myworkcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainfig{
    display: flex;
    position: relative;
    justify-content: center;
}

img:hover{
    opacity: .75;
}

.mywork{
    position: relative;
    background-color: var(--lightpink);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: var(--brown);
    border-bottom: 5px solid black;
    
}

.myworkheader{
    display: flex;
    align-items: center;
    font-size: 80px;
    padding:140px;
    border-right: 5px solid black;
}

.image-desc{
    position: absolute;
    color: var(--lightpink);
    background-color: var(--brown);
    padding: 30px;
    top:40%;
    right:80.4%;
    border: 5px solid var(--brown);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


/* Below is ContactMe */
.contact{
    display: flex;
    background-color: var(--lightpink);
    color: var(--brown);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contactcontent{
    list-style: none;
    display: flex;
    font-size: 40px;
    margin-right: 300px;
    flex-wrap: wrap;
}

.contactcontent li{
    margin-right: 40px;
}

/* Below is Footer */
footer{
    text-align: center;
    background-color: var(--lightpink);
    color:var(--brown);
    padding: 30px;
    border-top: 5px solid black;
}
@media screen and (max-width:992px){
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .aboutmeheader{
        border-right: none;
        border-bottom: 5px solid black;
    }
    .mywork{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .myworkheader{
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 5px solid black;
    }
    .image-desc{
        right: 75.1%;
        position: absolute;
        
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactheader{
        border-right: none;
        border-bottom: 5px solid black;
    }

    .contactcontent{
        margin-left: 400px;
    }


}



@media screen and (max-width:798px){
    .image-desc{
        right: 71.5%;
        position: absolute;
        
    }

}
@media screen and (max-width:578px){
    .container{
        min-width: 100vw;}
    .about-me{
        min-width: 100vw;
    }
    .mywork{
        min-width: 100vw;
    }
    .image-desc{
        right: 75%;
        position: absolute;
        font-size: 10px;
        padding: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }
    .smallimg{
        display: flex;
        max-width: 500px;
        min-width: 311px;
        margin-right: 40%;}
    .contact{
        min-width: 100vw;
    }
    .contactcontent{
        font-size: 30px;
    }
    footer{
        min-width: 100vw;
    }
        
    
    
}


