*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
:root{
    --lightpink: rgb(255, 210, 229);
    --brown: rgb(97, 55, 31);
}
.container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: var(--lightpink);
    margin-bottom: 100px;
    padding: 20px;
    color: var(--brown);
    border-bottom: 5px solid black;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-right: 20px;
    text-decoration: underline;
}

.mainimg{
    display: flex;
    max-width: 80%;
    border: 5px solid var(--brown);
    border-radius: 20px;
    justify-content: center;
    position: relative;
}
.centerplz{
    display: flex;
    justify-content: center;
}

.smallimg{
    display: flex;
    max-height: 150px;
    min-width: 490px;
    border: 5px solid var(--brown);
    border-radius: 20px;
    margin: 10%;
    
}

.smallimgcontent{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-right: 8%;



}
.myworkcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.mainfig{
    position: relative;
    /* margin-right: 300px; */
    justify-content: center;
}

img:hover{
    opacity: .75;
}

body{
    background-image: url(./pink.avif);
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.about-me{
    /* margin-bottom: 50px; */
    background-color: var(--lightpink);
    padding: 20px;
    display: flex;
    justify-content:space-between;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    color: var(--brown);
    position: relative;
    align-items: center
;
    
}

.aboutmecontent{
   
    padding: 10px;
    flex-wrap: wrap;
    font-size: 30px;
}

/* .contact-content{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 30px;
    justify-content: space-evenly;

}

.contact-content ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
} */

.contactcontent ul li{
    display: flex;
    margin-right: 400px;
    flex-wrap: wrap;
}
.mywork{
    /* margin-bottom: 50px; */
    position: relative;
    background-color: var(--lightpink);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: var(--brown);
    border-bottom: 5px solid black;
    
}

.myworkheader{
    display: flex;
    align-items: center;
    font-size: 50px;
    padding:140px;
    border-right: 5px solid black;
}

.image-desc{
    position: absolute;
    color: var(--lightpink);
    background-color: var(--brown);
    padding: 30px;
    top:40%;
    right:80.6%;
    border: 5px solid var(--brown);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.aboutmeheader, .contactheader{
    display: flex;
    align-items: center;
    font-size: 50px;
    padding: 133px;
    border-right: 5px solid black;
    
}

footer{
    text-align: center;
    background-color: var(--lightpink);
    color:var(--brown);
    padding: 30px;
    border-top: 5px solid black;
}

.contact{
    display: flex;
    background-color: var(--lightpink);
    color: var(--brown);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contactcontent{
    list-style: none;
    display: flex;
    font-size: 40px;
    margin-right: 300px;
    
}

.contactcontent li{
    margin-right: 40px;
}